@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --textcolor: #5f5f5f; 
  --textsize: 13px;
}
.container {
  /* border: 2px solid black; */
  font-family: 'Inter', sans-serif;
  color: var(--textcolor);
  font-size: var(--textsize);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5vh 10px;
  max-width: 350px;
  padding: 20px;
  flex-wrap: wrap;
}

textarea {
  resize: none;
  /* padding: 5px; */
  font-family: 'Inter', sans-serif;
  color: var(--textcolor);
  background-color: #FFF4F4;
}

.subMessage{
  border: 1px solid #767676;
  border-radius: 3px;
  background-color: #FFF4F4;
  font-weight: 100;
  font-size: var(--textsize);
  text-align: left;
  padding: 5px 10px;
  margin-top: 0px;
  word-wrap:break-word;

}
.subName{
  text-align: right;
  border-radius: 3px;
  background-color: #FFF4F4;
  border: 1px solid #767676;
  font-weight: 100;
  padding: 5px 10px;
  margin-top: 5px;

}
.subNameDiv{
  display: flex;
  justify-content: flex-end;
}
.divider{
  font-size: 18px;
  margin: 20px;
}
.first{
  font-size: 50px;
}
.second{
  font-size: 30px;
}
.postDiv{
  box-sizing: border-box;
  width: 100%;
}
option:hover { 
  background-color : gray;
}
